[submodule "start/jedi-vim"]
	path = start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "opt/vim-one"]
	path = opt/vim-one
	url = git@github.com:subhadig/vim-one.git
[submodule "opt/iosvkem"]
	path = opt/iosvkem
	url = https://github.com/neutaaaaan/iosvkem.git
[submodule "start/kotlin-vim"]
	path = start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "start/nvim-lspconfig"]
	path = start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
